
.searchbar{
    display: flex;
    border-radius: 10px;
    border-color: transparent;
    width: 550px;
    height: 50px;
    margin-top: 35px;
    
}
.h2{
    display: inline;
 position: relative; 
 left: 26%;
 bottom: 25px;
 color: #DAC0A3;
 font-family:Verdana, Geneva, Tahoma, sans-serif;
 text-shadow: -1px -1px 0  black,  
 1px -1px 0  black,
-1px 1px 0  black,
 1px 1px 0 black;

}



.buttonX{
    transition: transform 0.3s ease;
    padding: 1px;
    display: inline-block;
    margin-top: 42px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #1B2430;
    border-color: black;
    border-radius: 100%;
    color: #F6F1EE;
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    text-align: center;
    
}

.buttonX:hover{
    transform: scale(1.1)
}

.lupa{
    
    transition: transform 0.3s ease;
    width: 30px;
    height: 30px;
    top:45px;
    display: inline;
    position: relative; 
    left: 2%;

}

.lupa:hover{
    transform: scale(1.1)
}

.searchbar[type="search"]{
    text-align: center;
}