
.h2{
    display: inline;
 position: relative; 
 left: 25%;
 bottom: 20px;
 
}
.searchbar{
    display: flex;
    border-radius: 10px;
    border-color: #4F4A45;
    width: 550px;
    height: 50px;
    margin-top: 35px;
    
}


.buttonX{
    
    transition: transform 0.3s ease;
    padding: 1px;
    display: inline-block;
    margin-top: 42px;
    margin-left: 10px;
    cursor: pointer;
    background-color: #1B2430;
    border-color: black;
    border-radius: 100%;
    color: #F6F1EE;
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    text-align: center;
    
}

.buttonX:hover{
    transform: scale(1.1)
}

.lupa{
    
    transition: transform 0.3s ease;
    width: 30px;
    height: 30px;
    top:45px;
    display: inline;
    position: relative; 
    left: 28%;

}

.lupa:hover{
    transform: scale(1.1)
}