.nav{
    background-color: #ED7D31;
    
}

.h1{
    
    font-size: xx-large;
    display: flex;
    justify-content: flex-start;
    color: yellow;
    text-shadow: -1px -1px 0  #4F4A45,  
    1px -1px 0  #4F4A45,
   -1px 1px 0  #4F4A45,
    1px 1px 0 #4F4A45;
    
}

.h2{
    
    font-size: xx-large;
    text-shadow: -1px -1px 0  black,  
    1px -1px 0  black,
   -1px 1px 0  black,
    1px 1px 0 black;
    color: #6C5F5B;
    display: flex;
    justify-content: start;
    margin-left: 5%;
}

.li {
    padding: 1px;
    display: flex;
    margin: 0 5px;
    cursor: pointer;
    background-color: #4F4A45;
    border-radius: 10%;
    color: #F6F1EE;
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    
}

.li:hover{
    transform: scale(1.1)
}
