.nav{
    position: relative;
    display: flex;
    background-color: #213555;
    padding-top: 2%;
    box-shadow: inset 0 0 15px black;
}

.link {
    text-decoration: none; 
    color: inherit; 
    display: inline-block; 
  }
.h1{
    font-family: "rickon";
   
    font-size: 50px;
    display: inline;
    color: #DAC0A3;
    text-shadow: -2px -2px 0  black,  
    2px -2px 0  black,
   -2px 2px 0  black,
    2px 2px 0 black;
    
}

.dogs{
    font-family: "rickon";
    font-size: 50px;
    display: inline;
    position: relative;
    bottom: 15px;
    left: 100px;
    text-shadow: -2px -2px 0  black,  
    2px -2px 0  black,
   -2px 2px 0  black,
    2px 2px 0 black;
    color: #DAC0A3;
    justify-content: start;
    margin-left: 5%;
}

.input{
    cursor: pointer;
    text-align: center;
    border: 2px solid rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    color: bisque;
    padding: 20px;
    margin: 4px
};