.nav{
    display: flex;
    background-color: #213555;
    padding-top: 2%;
    box-shadow: inset 0 0 15px black;
}

.h1{
    font-family: "rickon";
    font-size: 50px;
    display: inline;
    position: relative; 
    bottom: 60px;
    left: 10px;
    color: yellow;
    text-shadow: -2px -2px 0  black,  
    2px -2px 0  black,
   -2px 2px 0  black,
    2px 2px 0 black;
    
}

.dogs{
    font-family: "rickon";
    font-size: 50px;
    display: inline;
    position: relative;
    bottom: 15px;
    right: 65px;
    text-shadow: -2px -2px 0  black,  
    2px -2px 0  black,
   -2px 2px 0  black,
    2px 2px 0 black;
    color: yellow;
    display: flex;
    justify-content: start;
    margin-left: 5%;
}

