.card {
    border: 2px solid #113946; 
    background-color: #DAC0A3;
    display: inline-block;
    border-radius: 5%;
    margin: 4%;
    padding: 1px;
    flex: 1;
    flex-basis: 200px;
    max-width: 300px;

}

.card:hover{
    transition: 0.5s;
    transform: scale(1.1)
}
.card:not(:hover){
    transition: 0.5s;
}
   .container{
        font-weight: 500;
       background-color: transparent;
       border-radius: 1rem;
       color: #113946;
       font-size: x-large;
   }

   .h3{
    display: flex;
    justify-content: center;
  
    color: #4F709C;
   }
   

.p{
    font-weight: 450;
    color: #0F2C59
}
.image {
    border: 2px solid #4F4A45; 
    border-radius: 5%;
    height: 90%;
    width: 90%;
  
}
   
  