@font-face{
    font-family: 'rickon';
    src: url('./Rickon.ttf');
}


@font-face {
  font-family: 'dogs';
  src: url('./Smile_Candy.ttf') 
}
  @font-face {
    font-family: "matrix";
    src: url("./matrix.ttf") format("truetype");
  }