@font-face{
    font-family: 'Henry';
    src: url('./Rickon.ttf') format('truetype')
}

@font-face {
    font-family: 'rickoso'; /* Nombre descriptivo para la fuente */
    src: url('./get_schwifty.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
  }
  
@font-face {
    font-family: 'sancho'; /* Nombre descriptivo para la fuente */
    src: url('./Smile\ Candy.ttf') format('truetype'); /* Ruta a tu archivo de fuente */
  }