.li {
    padding: 1px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    background-color: #4F4A45;
    border-radius: 50%;
    color: #F6F1EE;
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    
}
.dots {
    padding: 1px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    
    border-radius: 50%;
    color: black;
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    
}

.li:hover{
    transform: scale(1.1)
}

.liSelec {
    
    padding: 5px;
    display: inline-block;
    margin: 0 5px;
    cursor: pointer;
    background-color: #4F709C;
    border-radius: 50%;
    color: #F6F1EE;
    width: 30px; 
    height: 30px; 
    text-align: center; 
    line-height: 30px; 
    box-shadow: inset 0 0 5px black;
}
